.confirmation-container {
  display: flex;
  width:100%;
  padding: 2vw;
  background-color: #F1FAFD;
  flex-direction: column;
  align-items: center;
}
.wholepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  padding-left: 2.5vw;
  gap: 1.5vw;
  font-family: sans-serif;
}
.head {
  width: 100%;
}
img {
  margin: 5vw;
  width: 20%;
}
h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.5vw;
  font-weight: normal;
}
h4 {
  margin: 20px;
  font-size: 1.25vw;
  font-weight: normal;
}
.return-button{
  align-items: center;
  margin: 10px;
  width: 100%;
  font-size: 1.5vw;
  padding: 0.5vw;
  background-color: #63BC9B;
  color: #FFFFFF;
}