.all {
  font-family: sans-serif;
}

/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: sans-serif;
} */

/* *{
  padding: ();
  margin:();
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97,97,97);
} */

/* .btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px splod white;
  color: #323232;
} */